@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf');
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #8dcdff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
  font-family: Roboto, tahoma, sans-serif;
  cursor: default;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel {
  background: #102637;
}
