@import "global";

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf)
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: @color-primary-4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: @color-primary-1;
  font-family: Roboto;
  cursor: default;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel {
  background: @color-primary-2;
}